body{
  background-color: black;
  color: white;
}
.App {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cal-wrapper{
  background-color: white;
  width:400px;
  border-radius: 16px;
  margin-top: 62px;
}
.row{
  display: flex;
}

